@font-face {
	font-family: 'BFText';
	src: url('/static/bf/bftext.ttf') format('truetype');
}

*{
	box-sizing: border-box;
	text-transform: uppercase;
}

:root{
	--white: #FFFFFF;
	--white-secondary: #ffffff42;
	--black: #0A0A0A;
	--accent: #AEC0CC;

	--font-text: 'BFText';
}

body{
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: var(--font-text);
	background-color: var(--black);
	color: var(--white);
}


h1, h2{
	margin: 0;
	color: var(--white);
}
h2{
	font-size: min(64px, 10vw);
}
p{
	margin: 0;
	color: var(--white-secondary);
	line-height: 130%;
}


a{
	color: var(--white-secondary);
	font-weight: 600;
}
a.accent, button.accent{
	position: relative;
 	padding: 21px 33px;
	padding-top: 24px;
	padding-bottom: 14px;
	margin: 6px;
	z-index: 2;

	background-color: var(--accent);
	color: var(--black);
	text-align: center;
	text-decoration: none;
	font-family: BFText;
	font-size: 48px;
	font-weight: 400;
	line-height: 90%;

	transition: background-color 0.2s;

	&::before{
		content: '';
		position: absolute;
		z-index: -1;
		inset: -6px;
		border: 3px solid var(--accent);
		transition: inset 0.3s, background-color 0.2s, opacity 0.3s;
	}

	&:hover{
		background-color: transparent;
		&::before{
			background-color: #AEC0CCa5;
			inset: -2px;
		}
	}
	&:active{
		background-color: #AEC0CCD5;
		&::before{
			background-color: transparent;
			inset: -24px;
			opacity: 0;
			border-radius: 12px;
		}
	}
}


main{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.landing{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 100vh;
	padding: 48px;

	background-image: url('/static/bf/bg.png');
	background-size: cover;
	overflow: hidden;

	.text-container{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 74px;

		svg{
			width: 55vw;
		}
	}
}

footer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 32px 48px;

	p.right{
		text-align: end;
	}
}


svg g:hover path{
	fill: #AEC0CC5f;
	stroke: var(--accent);
	stroke-width: 6px;
}



@media (max-width: 1200px) {
	.landing{
		flex-direction: column;
		align-items: flex-start;
		.text-container{
			svg{
				width: 100vw;
				max-width: 100%;
				padding-right: 36px;
			}
			gap: 24px;
		}
	}
}

@media (max-width: 768px) {
	footer{
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
		p.right{
			text-align: left;
		}
	}
}