<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BF Subdomain</title>
  <meta name="theme-color" content="#99938A">
</head>

<style>

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    max-width: 680px;
    width: 100%;
    padding: 0 24px;

    *{
        text-align: center;
    }
  }
</style>

<body>
  <div class="wrapper">
    <div class="content">
      <h1>MAXIMUM HARDCORE BF6 SERVER</h1>
      <a href="https://discord.gg/jazfEyDFkS" class="button-like">DISCORD</a>
    </div>
  </div>
</body>

</html>
